<div class="logo">
  <a href="https://www.churchofjesuschrist.org">
    <img src="/images/logos/church-logo-50.webp" alt="tent image for logo">
  </a>
</div>
<div id="product-search">
  <h1>Gresham Stake Youth</h1>
</div>
<div class="cart">
  <a href="https://www.facebook.com/GreshamLDSYouth/" target="_blank"><img class="social-media-icon" src="images/facebook-logo.webp" alt="facebook icon" ></a>
  <a href="https://www.instagram.com/greshamstakeyouth/?next=%2F" target="_blank"><img class="social-media-icon" src="images/instagram.jpeg" alt="instgram icon" ></a>
</div>
<nav class="box-shadow">
  <button type="button" id="hamburgerBtn"><span>&#9776;</span><span>X</span></button>
  <ul id="primaryNav">
    <li class="active"><a href="index.html">Home</a></li>
    <li><a href="discover.html">Discover</a></li>
    <li><a href="directory.html">Directory</a></li>
    <li><a href="join.html">Join</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>
